<p id="notice"><%= notice %></p>

<div class="collection_wrapper">
  <p>
    <b>Collection:</b>
    <%= @collection.name %>
  </p>

  <p>
    <%= @collection.description %>
  </p>

   <% @collection_works.each do |w| %>
   <div class="collection_work_wrappers">
      <%= link_to image_tag(w.works_image.url, :class=>"collection_works_image"), w %>
      <p class="collection_works_name">
        <%= link_to w.name, w %>
      </p>
    </div>
   <% end %>

 </div>
