<h1>Listing works</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th>Series</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.name %></td>
    <td>
  <%= image_tag work.works_image.url %></td>
    <td><%= work.date %></td>
    <td><%= work.category.name %></td>
    <td><%= work.collection.name %></td>
    <td><%= work.price %></td>
    <td><%= link_to 'Show', work %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
