<p id="notice"><%= notice %></p>
<div class="works_wrapper cf">
  <div class="works_show">
    <%= image_tag @work.works_image.url %>
  </div>

  <div class="works_description">
    <p>
      <%= @work.name %>
    </p>

    <p>
      <%= @work.date %>
    </p>
    <p>
      <%= @work.category.name %>
    </p>

    <p> from the
      <%= link_to @work.collection.name, collection_path(@work.collection) %>
      collection
    </p>

    <p>
      <%= @work.price %>
    </p>
  </div>
</div>

<% if @work.get_next_work %>
  <%= link_to 'Next', @work.get_next_work %>
<% end %>

<% if @work.get_prev_work %>
  <%= link_to 'Previous', @work.get_prev_work %>
<% end %>

<% if @work.category.name == "Past Works" %>
  <%= link_to 'Back', '/past-works', :class=>"back_button" %>
<% else %>
  <%= link_to 'Back',  works_path, :class=>"back_button" %>
<% end %>
  <%= link_to 'Purchase', works_path, :class=>"purchase_button" %>


