<p id="notice"><%= notice %></p>
<div class="works_wrapper cf">
  <div class="works_show cf">
    <% if @work.get_prev_work %>
        <%= link_to '⟨', @work.get_prev_work, :class=> "prev_button" %>
    <% end %>
    <%= image_tag @work.works_image.url %>
    <% if @work.get_next_work %>
        <%= link_to '⟩', @work.get_next_work, :class=> "next_button"  %>
    <% end %>
  </div>

  <div class="works_description">
    <p class="works_title">
      <%= @work.name %>
    </p>

    <p> from the
      <%= link_to @work.collection.name, collection_path(@work.collection), :class=> "works_collection_name" %>
      collection
    </p>
    <p class="description">
      <%= @work.description %>
    </p>
      <p>
      <%= @work.dimensions %>
    </p>
    <p>
      <%= @work.price %>
    </p>





    <%= link_to 'Purchase', works_path, :class=>"purchase_button" %>
  </div>
</div>




