<p id="notice"><%= notice %></p>
<div class="works_wrapper cf">
  <div class="works_show">
    <%= image_tag @work.works_image.url %>
  </div>

  <div class="works_description">
    <p>
      <%= @work.name %>
    </p>

    <p>
      <%= @work.date %>
    </p>

    <p>
      <%= @work.collection.name %>
    </p>

    <p>$
      <%= @work.price %>
    </p>
  </div>
</div>

  <%= link_to 'Back', works_path, :class=>"back_button" %>
  <%= link_to 'Purchase', works_path, :class=>"purchase_button" %>


